@import "tailwindcss";

@theme {
  /* Your Bunnon Brand Colors */
  --color-teal-dark: #0D5E6C;
  --color-saffron: #F4A836;
  
  /* Adding some variations for hover effects */
  --color-teal-light: #138396;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
